<div class="container">
  <h1><%= @cocktail.name %></h1>
<%= link_to 'Back to home', cocktails_path,class: "btn btn-primary"  %>
<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
</div>

<p><%  @cocktail.doses.each do |dose| %></p>
  <p><%= dose.description %> -
  <%= Ingredient.find(dose.ingredient_id).name %></p>
  <%= link_to 'Delete', dose_path(dose), method: "delete", class: "btn btn-primary"  %>
<% end  %>

<%= render 'doses/form'%>

</div>


